.topimage{
    height: 500px;
    width:100%;
}

.topSection{

    position:absolute;
    top:80px;
    width:100%;
    text-align: center;
}

.headerText{
    height:50px;
    font-size:36px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}


